{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/escrever.css' %}">



<body>
    {% include 'moldes/nav.html'%}

<form action='' method="post">
    {% csrf_token %}
    <div class="text">
        <div class="title">
            <input placeholder="Title..." name="textTitle" type="text">
        </div>
        <textarea name="textBody" id="textBody" onkeydown="autoResize()" placeholder="Start writing here..." cols="30" rows="10"></textarea>
        <button type='submit' class="btn_enviar_text">Finalizar</button>
    </div>

    <input type="text" placeholder="Categoria..." name="TextCategoria">

</form>

    {% include 'moldes/footer.html'%}

    <script src="{% static 'js/escrever.js' %}"></script>
</body>
</html>


{% endblock %}