{% extends 'moldes/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<title>{% block title %} NotionS2 {% endblock%}</title>

<body>
    {% include 'moldes/nav.html'%}

    <div class="hero">
        <div class="textHero">
            <h2>One workspace.Every team.</h2>
            <p>W're more than a doc. Or a table. Customize Notion to work the way you do.
                W're more than a doc. Or a table. Customize Notion to work the way you do.
                W're more than a doc. Or a table. Customize Notion to work the way you do.
            </p>
            <button>Start to write</button>
        </div>

        <div class="imageHome">
            <img src="{% static 'img/Humaaans - 3 Characters.png' %}" alt="">
        </div>
     
    </div>

    <div class="container">
    <h2>Trending</h2>
    <div class="cardsHome">
        

        <div class="singleCardHome">
            <p>Author name</p>
            <p>Text Tilte</p>
            <p>Date  Theme-Topic</p>
        </div>
        <div class="singleCardHome">
            <p>Author name</p>
            <p>Text Tilte</p>
            <p>Date  Theme-Topic</p>
        </div>
        <div class="singleCardHome">
            <p>Author name</p>
            <p>Text Tilte</p>
            <p>Date  Theme-Topic</p>
        </div>
        <div class="singleCardHome">
            <p>Author name</p>
            <p>Text Tilte</p>
            <p>Date  Theme-Topic</p>
        </div>
        <div class="singleCardHome">
            <p>Author name</p>
            <p>Text Tilte</p>
            <p>Date  Theme-Topic</p>
        </div>
        <div class="singleCardHome">
            <p>Author name</p>
            <p>Text Tilte</p>
            <p>Date  Theme-Topic</p>
        </div>
        <div class="singleCardHome">
            <p>Author name</p>
            <p>Text Tilte</p>
            <p>Date  Theme-Topic</p>
        </div>
        <div class="singleCardHome">
            <p>Author name</p>
            <p>Text Tilte</p>
            <p>Date  Theme-Topic</p>
        </div>
    </div>

    </div>

    <a href="{% url 'escrever' %}" class="float">
        <i class="my-float"></i>
    </a>

    {% include 'moldes/footer.html'%}
</body>
</html>

{% endblock %}