{% extends 'moldes/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<title>{% block title %} NotionS2 {% endblock%}</title>

<body>
    {% include 'moldes/nav.html'%}

    <div class="hero">
        <div class="textHero">
            <h2>One workspace.Every team.</h2>
            <p>W're more than a doc. Or a table. Customize Notion to work the way you do.
                W're more than a doc. Or a table. Customize Notion to work the way you do.
                W're more than a doc. Or a table. Customize Notion to work the way you do.
            </p>
            <a href="{% url 'escrever' %}"><button class="btn">Start to write</button></a>
            </div>

        <div class="imageHome">
            <img src="{% static 'img/Humaaans - 3 Characters.png' %}" alt="">
        </div>
     
    </div> 

    <div class="container">
    <h2>Trending</h2>
    <div class="cardsHome">
        
        {% for texto in textos %}
        <div class="singleCardHome">
            <p>{{texto.user_id}}</p>
            <p>{{texto.title}}</p>
            <p>Date  {{texto.categoria}}</p>
        </div>
        {% endfor %}
    </div>

    </div>

    <a href="{% url 'escrever' %}" class="float">
        <img src="{% static 'img/mais.png' %}">
    </a>

    {% include 'moldes/footer.html'%}
</body>
</html>

{% endblock %}