{% extends 'moldes/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<title>{% block title %} Login {% endblock%}</title>

<div class="login_screen">

    <div class="login_form_general">
      <h1>Enter in your Account</h1>
        <form method="post" action="">
            {% csrf_token %}
              <div class="login_form_inputs">
                <label for="exampleInputText1" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputText1"
                  aria-describedby="textHelp"
                  name="username"
                  placeholder="ex: joao.lima28..."
                />
            </div>
            <div class="login_form_inputs">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="exampleInputPassword1"
                placeholder="********"
                
              />
        
            </div>
            
            <button type="submit" class="btn">Entrar</button>
          </form>
          
          <a class="link_cadastro" href="{% url 'cadastrar' %}">Ainda não possui uma conta?<span> Crie uma já!</span></a>
    </div>
  
    <div class="img_side">
      <div class="logotipo"><a href="{% url 'index' %}"><h2>LOGOTIPO</h2></a></div>
      <div class="theory_img"><img src="{% static 'img/loginIMG.jpg' %}" alt=""></div>
      
  </div>
</div>

{% endblock %}