.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    height: 100vh;
}

.singleCardHome{
    background-color: rgb(228, 228, 228);
    padding: 10px;
    border-radius: 10px;
}

.cardsHome{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}

.imageHome img{
    width: 30vw;
}