.text{
    width: 100%;
    height: 100%;
    padding: 150px 100px 100px 100px;
    box-sizing: border-box;
    overflow: hidden;
}
.title input{
    width: 100%;
    height: 30px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.541);
    font-size: 30px;
    padding: 0 5px 2px 5px;
    letter-spacing: 3px;
}

.title input:focus{
    outline: 0;
}

#textBody{
    margin-top: 100px;
    width: 100%;
    border:none;
    resize: none;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 25px;
    overflow: hidden;
}

#textBody:focus{
    outline: none;
}

.btnEnviar_and_categoria{
    display: flex;
    flex-direction: column;
}

.categoria{
    background-color: #e2e2e2;
    color: #555555;
    width: 15%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-style: italic;
}

.categoria:focus{
    outline: none;
}

.blur{
    filter: blur(4px)
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    color: #f2f2f2;
    padding: 50px;
    height: 100vh;
  }

.modal h1{
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 30px;
    color: #ff4545;
}

  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
  } 

  .fechar {
    position: absolute;
    width: 30px;
    right: 15px;
    top: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
    z-index: 999999;
    cursor: pointer;
    text-decoration: none;
  }