<nav class="nav">
    <a href="{% url 'index' %}"><h1>LOGOTIPO</h1></a>
    <ul id="nav_opcoes" class="nav_opcoes">
        <li><a class="opcao_nav" href="#">Sobre</a></li>
        <li><a class="opcao_nav" href="{% url 'escrever' %}">Escrever</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'sair' %}">Sair</a></li>
        <li>
            <div id="userPerfil" class="userPerfil">
                <ul class="userPerfil_opcoes">
                    <li class="opcao_userPerfil_individual">Meu Perfil</li>
                    <li class="opcao_userPerfil_individual"><a href="{% url 'sair' %}">Sair</a></li>
                </ul>
            </div>
        </li>
        {% else %}
        <li><a class="opcao_nav" href="{% url 'logar' %}">Login</a></li>
        <li><a class="opcao_nav" href="{% url 'cadastrar' %}">Cadastro</a></li>
        
        {% endif %}


    </ul>

</nav>